#divContainer{
background:red;
width:700px;
height:700px;
display:flex;
flex-direction:row;
}

divColoums{

    background:black;

    flex:1;
    display:flex;
    flex-direction:column;
    transition: .3s;
    
}
divRow{
    background:green;
    flex:1;
    transition: .3s;
}
divRow:hover{
    background:yellow;
}